:root {
  --bg: rgba(246, 246, 246, 0.9);
  --bg-content: #ffffff;
  --text: #333333;
  --text-gray: #6b7280;
  --border: #ebebeb;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  letter-spacing: 0.18px;
  color-scheme: light dark;
  min-height: 100vh;
  color: var(--text);
  background-color: var(--bg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  --bg: rgba(24, 24, 27, 0.95);
  --bg-content: #1e1e1e;
  --text: #e4e4e7;
  --text-gray: #a1a1aa;
  --border: #333333;
  --shadow:
    rgba(0, 0, 0, 0.3) 0 10px 15px -3px, rgba(0, 0, 0, 0.2) 0 4px 6px -2px;
}

body {
  margin: 0;
  font-size: 14px;
}
